openapi: 3.0.0
info:
  title: VS Code Marketplace Internal API
  version: 1.0.0
  description: Unified specification for extension search, version history, and VSIX downloads.

servers:
  - url: https://marketplace.visualstudio.com
    description: Main Marketplace Metadata Server

# Indicates endpoints are public by default, but provides a hook for future security layers
security:
  - {} 

paths:
  /_apis/public/gallery/extensionquery:
    post:
      operationId: queryExtensionGallery
      summary: Extension Query Service
      description: |
        A multi-purpose endpoint for the VS Code Marketplace. 
        - **Search Mode:** Performs broad searches (e.g., by keyword or platform).
        - **Version History Mode:** Retrieves specific extension metadata including all available versions.
      parameters:
        - in: query
          name: api-version
          required: true
          schema:
            type: string
            default: "3.0-preview.1"
          description: Required API version parameter.
        - in: header
          name: Accept
          required: false
          schema:
            type: string
            default: "application/json;api-version=3.0-preview.1"
          description: Optional, but good practice to include.
        - in: header
          name: User-Agent
          required: false
          schema:
            type: string
            default: "VSCode 1.85.0"
          description: Highly recommended. The Marketplace can throttle or reject requests that lack a standard client User-Agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SearchRequest'
                - $ref: '#/components/schemas/VersionHistoryRequest'
            examples:
              SearchExample:
                summary: Initial Search (Flag 870)
                value:
                  filters:
                    - criteria:
                        - filterType: 10
                          value: "csharpier"
                        - filterType: 8
                          value: "Microsoft.VisualStudio.Code"
                      pageNumber: 1
                      pageSize: 20
                  assetTypes: []
                  flags: 870
              VersionHistoryExample:
                summary: Fetch Full Version History (Flag 359)
                value:
                  filters:
                    - criteria:
                        - filterType: 7
                          value: "csharpier.csharpier-vscode"
                  assetTypes: []
                  flags: 359
      responses:
        '200':
          $ref: '#/components/responses/QueryResponse'
        '400':
          $ref: '#/components/responses/MarketplaceError'
        '503':
          $ref: '#/components/responses/RateLimitError'
        default:
          $ref: '#/components/responses/MarketplaceError'

  /_apis/public/gallery/publisher/{publisher}/extension/{extensionName}/{version}/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage:
    get:
      summary: Download VSIX Package
      description: |
        Downloads the compiled binary `.vsix` extension package from the CDN.
          - **`publisherSubdomain`** should match the `{publisher}` path parameter.
      operationId: downloadVsix
      servers:
        - url: https://{publisherSubdomain}.gallery.vsassets.io
          variables:
            publisherSubdomain:
              default: csharpier
              description: >
                Matches the {publisher} path parameter. 
                Examples you can try: `csharpier`, `lmcarreiro`, or `vscode-icons-team`.
      parameters:
        - in: path
          name: publisher
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
          description: The publisher name (e.g., ms-python)
          examples:
            combination1:
              value: "csharpier"
              summary: CSharpier Example
            combination2:
              value: "lmcarreiro"
              summary: Smart Column Example
        - in: path
          name: extensionName
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
          description: The extension ID (e.g., python)
          examples:
            combination1:
              value: "csharpier-vscode"
              summary: CSharpier Example
            combination2:
              value: "vscode-smart-column-indenter"
              summary: Smart Column Example
        - in: path
          name: version
          required: true
          schema:
            type: string
            pattern: '^\d+\.\d+\.\d+.*$'
          description: Specific version string (e.g., 2023.10.1)
          examples:
            combination1:
              value: "10.0.1"
              summary: CSharpier Example
            combination2:
              value: "0.0.13"
              summary: Smart Column Example
      responses:
        '200':
          description: The binary VSIX package payload.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/MarketplaceError'
        '404':
          $ref: '#/components/responses/MarketplaceError'
        '503':
          $ref: '#/components/responses/RateLimitError'
        default:
          $ref: '#/components/responses/MarketplaceError'

components:
  responses:
    QueryResponse:
      description: Successful query response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryResponseBody'
            
    MarketplaceError:
      description: Standardized error response for bad requests, missing resources, or generic failures.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            $id: "1"
            innerException: null
            message: "Invalid api version string: \"123asd\". Api version string must be in the format: {Major}.{Minor}[-preview[.{ResourceVersion}]]."
            typeName: "Microsoft.VisualStudio.Services.WebApi.VssInvalidApiResourceVersionException, Microsoft.VisualStudio.Services.WebApi"
            typeKey: "VssInvalidApiResourceVersionException"
            errorCode: 0
            eventId: 3000

    RateLimitError:
      description: Service Unavailable. The Marketplace is throttling or rejecting the request.

  schemas:
    # --- Error Schema ---
    ErrorResponse:
      type: object
      description: Standard Microsoft VSS WebApi Exception payload.
      properties:
        $id:
          type: string
        innerException:
          type: object
          nullable: true
        message:
          type: string
        typeName:
          type: string
        typeKey:
          type: string
        errorCode:
          type: integer
        eventId:
          type: integer

    # --- Request Schemas ---
    QueryRequestBase:
      type: object
      properties:
        assetTypes:
          type: array
          items:
            type: string
          default: []
        flags:
          type: integer
          format: int32
          description: |
            Bitwise mask determining the depth of data returned in the response. Common combinations:
            - **133**: Minimal data
            - **359**: Include all versions (Standard for Version History)
            - **870**: Common Search Mask (Includes Files, Attributes, Taxonomy)
            - **914**: Standard Search (Broadest metadata inclusion)

    SearchRequest:
      description: Request schema for keyword or platform searches.
      allOf:
        - $ref: '#/components/schemas/QueryRequestBase'
        - type: object
          properties:
            filters:
              type: array
              items:
                type: object
                properties:
                  pageNumber: { type: integer, default: 1 }
                  pageSize: { type: integer, default: 20 }
                  criteria:
                    type: array
                    items:
                      type: object
                      properties:
                        filterType: { type: integer, description: "10 = search text, 8 = target platform" }
                        value: { type: string }

    VersionHistoryRequest:
      description: Request schema for deep-diving into a specific extension.
      allOf:
        - $ref: '#/components/schemas/QueryRequestBase'
        - type: object
          properties:
            filters:
              type: array
              items:
                type: object
                properties:
                  criteria:
                    type: array
                    items:
                      type: object
                      properties:
                        filterType: { type: integer, default: 7, description: "7 = Fully Qualified Name" }
                        value: { type: string, description: "Format: publisher.extensionName" }

    # --- Response Schemas ---
    QueryResponseBody:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Result'

    Result:
      type: object
      properties:
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        pagingToken:
          type: string
          nullable: true
        resultMetadata:
          type: array
          items:
            $ref: '#/components/schemas/ResultMetadatum'

    Extension:
      type: object
      properties:
        publisher:
          $ref: '#/components/schemas/Publisher'
        extensionId:
          type: string
          format: uuid
        extensionName:
          type: string
        displayName:
          type: string
        flags:
          type: string
          description: "Comma-separated string of returned attributes (e.g., 'validated, public'). Note: This is distinct from the integer bitmask used in the request body."
        lastUpdated:
          type: string
          format: date-time
        publishedDate:
          type: string
          format: date-time
        releaseDate:
          type: string
          format: date-time
        shortDescription:
          type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
        categories:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'
        installationTargets:
          type: array
          items:
            $ref: '#/components/schemas/InstallationTarget'
        deploymentType:
          type: integer

    InstallationTarget:
      type: object
      properties:
        target:
          type: string
        targetVersion:
          type: string

    Publisher:
      type: object
      properties:
        publisherId:
          type: string
          format: uuid
        publisherName:
          type: string
        displayName:
          type: string
        flags:
          type: string
        domain:
          type: string
        isDomainVerified:
          type: boolean

    Statistic:
      type: object
      properties:
        statisticName:
          type: string
        value:
          type: number

    Version:
      type: object
      properties:
        version:
          type: string
        flags:
          type: string
        lastUpdated:
          type: string
          format: date-time
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/Property'
        assetUri:
          type: string
          format: uri
        fallbackAssetUri:
          type: string
          format: uri

    File:
      type: object
      properties:
        assetType:
          type: string
        source:
          type: string
          format: uri

    Property:
      type: object
      properties:
        key:
          type: string
        value:
          type: string

    ResultMetadatum:
      type: object
      properties:
        metadataType:
          type: string
        metadataItems:
          type: array
          items:
            $ref: '#/components/schemas/MetadataItem'

    MetadataItem:
      type: object
      properties:
        name:
          type: string
        count:
          type: integer